.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5643CC !important;
}

.headerRight {
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    font-size: 1.6vw;
}

.headerRight a, .headerRight a:hover {
    color: #fff;
}
