.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardContainer {
    border-radius: 10px;
    padding: 4vh 2vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.loginImage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    margin-bottom: 2vh;
}

.loginImage img {
    width: 70%;
}

.cardContainer h1 {
    text-align: center;
    font-weight: 600;
    color: #5643CC;
}

.loginInput {
    border-radius: 7px !important;
    padding: 1vh 0.5vw !important;
    margin: 0.3vh 0 !important;
}

.submitButton {
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%) !important;
    border: none !important;
    height: 5vh !important;
    border-radius: 7px !important;
    font-size: medium !important;
    font-weight: 700 !important;
}

.signUp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
}

.signUp h4 {
    color: gray;
}

.signUp a,
.signUp a:hover {
    color: #673FD7;
}